.logo img{
  height: 60px;
  width: 440px;
}
header{
  background-color: white;
  height: 100px;
  border-bottom: 2px solid grey;
  display:flex;
  justify-content: space-between; /*untuk membuat kode terp*/
  padding: 10px 100px;
}
.gitudeh {
  display: flex; 
  gap: 30px;
  list-style: none;
  padding-right: 10px;
}
.gitudeh li a {
  color: #555; 
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.gitudeh li a:hover {
  color: #440066; 
  font-weight: bold;
}
